/* 
    Document   : css
    Created on : 07.11.2014., 15:53:21
    Author     : Kruno
    Description:
        Purpose of the stylesheet follows.
*/

.container{
    position:fixed;
    background-color :black;
    width: 800px;
    border: white solid 1px;
    min-height: 500px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.main_image{
    width: 650px;
    height: 300px;
    margin:auto;
    margin-top: 20px;

}

.main_image img{
    width: 650px;
    height: 300px;
    border-radius: 10px;
}
.gallery{
    width: 650px;
    margin:auto;
    margin-top: 80px;
    padding:0px;

}
.gallery img{
    width: 117px;
    height: 78px;
    margin-left: 10px;
    margin-bottom: 4px;
    border-radius: 5px;

}
a {
    width:100px;
    height:100px;
    display:block;
    background:yellow;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.gallery img:hover {
 -webkit-filter: sepia(100%);
}

